.checkout-ship {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    &.overflow-hidden {
        .around {
            position: absolute;
            z-index: 999;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
        }
    }
}
.content_checkout {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    .wrap {
        display: block;
        margin: 0 auto;
        max-width: 40em;
        zoom: 1;
    }
    .wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 aut;
    }
    .main .logo {
        display: block;
        margin-bottom: 16px;
    }
    .logo__image {
        display: inline-block;
    }
    .logo__image--medium {
        max-height: 2.8571428571em;
    }
    ol,
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .breadcrumb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        &__item {
            display: inline;
            font-size: 0.8571428571em;
            color: #737373;
        }
    }
    a {
        text-decoration: none;
        color: #3c9ce6;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        cursor: pointer;
    }
    .breadcrumb__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .icon-svg {
        display: inline-block;
        vertical-align: middle;
        fill: currentColor;
    }
    .breadcrumb__chevron-icon {
        margin: 0 0.6428571429em;
    }
    .icon-svg--size-10 {
        width: 10px;
        height: 10px;
    }
    .main .icon-svg--color-adaptive-light {
        color: #737373;
        fill: currentColor;
    }
    .dynamic-checkout {
        &__title {
            color: #333333;
            font-size: 1em;
            font-weight: 500;
            margin: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            text-align: center;
        }
        &__content {
            border: 1px #e6e6e6 solid;
            border-top: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 0.9285714286em 1.4285714286em 1.4285714286em;
        }
    }
    .dynamic-checkout__title::after,
    .dynamic-checkout__title::before {
        content: "";
        border: 1px #e6e6e6 solid;
        border-bottom: 0;
        height: 0.5em;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 2em;
        -ms-flex: 1 0 2em;
        flex: 1 0 2em;
    }
    .dynamic-checkout__title::before {
        border-right: 0;
        border-top-left-radius: 5px;
        margin-right: 1em;
    }
    .dynamic-checkout__title::after {
        border-left: 0;
        border-top-right-radius: 5px;
        margin-left: 1em;
    }
    .alternative-payment-separator {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 0.8571428571em;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
        color: #737373;
        margin-top: 2.5em;
        &__content {
            display: inline-block;
            padding: 0 1em;
        }
    }
    .alternative-payment-separator::after,
    .alternative-payment-separator::before {
        content: "";
        display: inline-block;
        height: 1px;
        background-color: #e6e6e6;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .main__content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    .section__header {
        margin-bottom: 1em;
    }
    .layout-flex {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: -0.2857142857rem;
    }
    .layout-flex--wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .layout-flex--tight-vertical {
        margin-bottom: -0.1428571429rem;
        margin-top: -0.1428571429rem;
    }
    .layout-flex--loose-horizontal {
        margin-left: -0.5714285714rem;
        margin-right: -0.5714285714rem;
    }
    .main .heading-2,
    .main h2 {
        color: #333;
    }
    .layout-flex__item--stretch {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .layout-flex--tight-vertical .layout-flex__item {
        padding-bottom: 0.1428571429rem;
        padding-top: 0.1428571429rem;
    }
    .layout-flex--loose-horizontal .layout-flex__item {
        padding-left: 0.5714285714rem;
        padding-right: 0.5714285714rem;
    }
    .fieldset:after,
    .fieldset:before {
        content: "";
        display: table;
    }
    .fieldset:after {
        clear: both;
    }
    .fieldset {
        margin: -0.4285714286em;
        zoom: 1;
    }
    .field__input-wrapper {
        .checkbox__label {
            display: none;
        }
        &.error {
            .field__input {
                border: 2px solid #dc3545;
            }
            .checkbox__label {
                &.error {
                    display: block;
                    margin: 8px 0;
                    color: #dc3545;
                }
            }
        }
    }
    .field {
        width: 100%;
        float: left;
        padding: 0.4285714286em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .heading-2,
    h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3em;
    }
    .field__input-wrapper {
        position: relative;
    }
    .field__label {
        text-align: left;
        font-weight: 500;
        margin: 0.5em 0;
        display: none;
    }
    .field__label--visible {
        display: block;
    }
    .main .field__label {
        color: #333;
    }
    .floating-labels .field__label {
        font-size: 0.8571428571em;
        font-weight: 400;
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 0.4285714286em;
        margin-left: 1px;
        padding: 0 0.9166666667em;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        pointer-events: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
    }
    .animate-floating-labels .field__label {
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .floating-labels .main .field__label {
        color: #737373;
    }
    .field__input {
        font-size: 14px;
        border: 1px transparent solid;
        background-clip: padding-box;
        border-radius: 5px;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0.9285714286em 8px;
        word-break: normal;
        line-height: inherit;
    }
    .main .field__input {
        background-color: #fff;
        color: #333;
        border-color: #d9d9d9;
    }
    .animate-floating-labels .field__input {
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .floating-labels .field--show-floating-label .field__input {
        padding-top: 1.5em;
        padding-bottom: 0.3571428571em;
    }
    .floating-labels .field--show-floating-label .field__label {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
    option {
        background-color: #fff;
        color: #000;
    }
    .floating-labels .main .field__label {
        color: #737373;
    }
    .section {
        position: relative;
        padding-top: 2em;
    }
    .field__caret {
        display: block;
        width: 2.1428571429em;
        height: 43%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .main .field__caret {
        border-left: 1px rgba(179, 179, 179, 0.5) solid;
    }
    .icon-svg--size-10 {
        width: 10px;
        height: 10px;
    }
    .field__caret-svg {
        position: absolute;
        margin-left: -2px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .main .icon-svg--color-adaptive-lighter {
        color: #919191;
        fill: currentColor;
    }
    .main .field__caret .icon-svg--color-adaptive-lighter,
    .main .field__icon .icon-svg--color-adaptive-lighter {
        color: #919191;
        fill: currentColor;
    }
    .field__icon {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 2.8571428571rem;
    }
    .field__input-wrapper--icon-right .field__icon {
        right: 0;
    }
    .tooltip-container {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .tooltip-container .tooltip-control {
        position: absolute;
        height: 100%;
        width: 100%;
        i {
            color: #919191;
        }
    }
    .icon-svg--size-16 {
        width: 16px;
        height: 16px;
    }
    .icon-svg--center {
        position: absolute;
        left: 50%;
        right: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .tooltip {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        bottom: 80%;
        right: -0.3333333333em;
        width: 180px;
        margin: 0 0 5px 0;
        padding: 0.75em 1em;
        border-radius: 4px;
        white-space: normal;
        font-size: 0.8571428571em;
        font-style: normal;
        text-align: center;
        color: #fff;
        display: block;
        z-index: 200;
        -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
        transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
        -webkit-transform: rotateX(20deg) scale(0.8);
        transform: rotateX(20deg) scale(0.8);
        -webkit-transform-origin: 90% 120%;
        transform-origin: 90% 120%;
        -webkit-backface-visibility: hidden;
        background-color: rgba(51, 51, 51, 0.9);
        visibility: hidden;
        opacity: 0;
    }
    .tooltip:after {
        content: "";
        position: absolute;
        top: 100%;
        right: 18px;
        width: 0;
        border: 6px solid transparent;
        border-top-color: rgba(51, 51, 51, 0.9);
    }
    .input-checkbox {
        width: 18px;
        height: 18px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        vertical-align: -4px;
        border: 1px solid;
        border-radius: 4px;
        &:focus {
            border-width: 2px;
            border-color: #3c9ce6;
        }
        &:checked {
            border-color: #3c9ce6;
            border-width: 9px;
            &:hover {
                border-color: #3c9ce6;
            }
            &:after {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
                opacity: 1;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            width: 10px;
            height: 8px;
            margin-left: -5px;
            margin-top: -4px;
            background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/checkout/checkbox-tick-8f61c047ddf394995dc729e4ed5672dfd5185ceb994e4acca120c3ddc11e4012.png);
            background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/checkout/checkbox-tick-66a9a39f70a44a226223ef4c61a701d2d10afaa73ba8846a509fbe58a82f3f36.svg),
                none;
        }
    }
    .checkbox__label {
        font-size: 14px;
    }
    .step__footer {
        z-index: 2;
        position: relative;
        margin-top: 1em;
    }
    .step__footer__continue-btn {
        cursor: pointer;
        display: inline-block;
        background-color: #3c75e6;
        background-clip: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px transparent solid;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        padding: 1.4em 1.7em;
        text-align: center;
        position: relative;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            -webkit-box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
            -webkit-box-shadow 0.2s ease-in-out;
    }
    .btn__content {
        font-size: 14px;
        position: relative;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .step__footer__info,
    .step__footer__previous-link {
        display: block;
    }
    .step__footer__info,
    .step__footer__previous-link {
        float: left;
    }
    .main__footer {
        padding: 1em 0;
        border-top: 1px solid #e6e6e6;
    }
    .policy-list {
        zoom: 1;
        text-align: center;
        &__item {
            float: left;
            font-size: 0.8571428571em;
            margin-right: 1.5em;
            margin-bottom: 0.5em;
        }
    }
    .policy-list:after,
    .policy-list:before {
        content: "";
        display: table;
    }
    .policy-list:after {
        clear: both;
    }
    // sibar{
    .sidebar {
        position: relative;
        color: #535353;
    }
    .sidebar::after {
        content: "";
        display: block;
        width: 300%;
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 0;
        background: #fafafa;
        z-index: -1;
        -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
        box-shadow: 0 -1px 0 #e1e1e1 inset;
    }
    .product-thumbnail {
        width: 4.6em;
        height: 4.6em;
        border-radius: 8px;
        background: #fff;
        position: relative;
        &__wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            z-index: 1;
        }
        &__image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
        &__quantity {
            font-size: 0.8571428571em;
            font-weight: 500;
            line-height: 1.75em;
            white-space: nowrap;
            text-align: center;
            border-radius: 1.75em;
            background-color: rgba(114, 114, 114, 0.9);
            color: #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 1.75em;
            height: 1.75em;
            padding: 0 0.5833333333em;
            position: absolute;
            right: -0.75em;
            top: -0.75em;
            z-index: 3;
        }
    }
    .product-thumbnail::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 8px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        z-index: 2;
    }
    .product__description {
        text-align: left;
        width: 100%;
    }
    .order-summary__emphasis {
        font-weight: 500;
    }
    .product__description__name,
    .product__description__property,
    .product__description__variant {
        display: block;
    }
    .sidebar .order-summary__emphasis {
        color: #323232;
    }
    .order-summary__small-text {
        font-size: 0.8571428571em;
    }
    .sidebar .order-summary__small-text {
        color: #717171;
    }
    .visually-hidden {
        border: 0;
        clip: rect(0, 0, 0, 0);
        clip: rect(0 0 0 0);
        width: 2px;
        height: 2px;
        margin: -2px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
    }
    td,
    th {
        padding-left: 1em;
    }
    .field {
        width: 100%;
        float: left;
        padding: 0.4285714286em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .field__input-btn-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        .field__input-wrapper {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }
    .order-summary__section--product-list::after {
        background-color: rgba(175, 175, 175, 0.34);
        bottom: 0;
    }
    .sidebar .field__input {
        background-color: #fff;
        color: #333;
        border-color: #d5d5d5;
    }
    .field__input-btn {
        width: auto;
        margin-left: 0.8571428571em;
        white-space: nowrap;
        padding-top: 0;
        padding-bottom: 0;
    }
    .btn--disabled {
        cursor: default;
        background: #c8c8c8;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn__content {
        position: relative;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .order-summary__section {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .order-summary__section ~ .order-summary__section {
        border-top: 1px solid rgba(175, 175, 175, 0.34);
    }
    td:first-child,
    th:first-child {
        padding-left: 0;
        text-align: left;
    }
    .total-line td,
    .total-line th {
        padding-top: 0.75em;
    }
    .total-line:first-child td,
    .total-line:first-child th {
        padding-top: 0;
    }
    .total-line__price {
        padding-left: 1.5em;
        text-align: right;
        white-space: nowrap;
    }
    th {
        font-size: 14px;
        font-weight: 400;
    }
    .total-line-table__tbody + .total-line-table__footer .total-line:first-child td,
    .total-line-table__tbody + .total-line-table__footer .total-line:first-child th,
    .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td,
    .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th {
        padding-top: 3em;
        position: relative;
    }
    .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before,
    .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before,
    .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before,
    .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before {
        content: "";
        position: absolute;
        top: 1.5em;
        left: 0;
        width: 100%;
        height: 1px;
    }
    .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before,
    .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before,
    .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before,
    .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before {
        background-color: rgba(175, 175, 175, 0.34);
    }
    .payment-due-label__total {
        font-size: 1.1428571429em;
    }
    .sidebar .payment-due-label__total {
        color: #323232;
    }
    .payment-due__price {
        font-size: 1.7142857143em;
        font-weight: 500;
        letter-spacing: -0.04em;
        line-height: 1em;
    }
    .payment-due__currency {
        font-size: 0.8571428571em;
        vertical-align: 0.2em;
        margin-right: 0.5em;
    }
    .sidebar .payment-due__currency {
        color: #717171;
    }
    .sidebar .payment-due__price {
        color: #323232;
    }
    .paypal-button {
        background-color: #ffc439;
        margin-right: 10px;
        height: 42px;
        img {
            height: 24px;
        }
    }
    .btn-amazon {
        height: 42px;
        border-radius: 4px;
    }
    .content-box {
        background: #fff;
        background-clip: padding-box;
        border: 1px solid;
        border-radius: 5px;
        color: #545454;
    }
    .content-box-spacing:first-of-type,
    .content-box:first-of-type {
        margin-top: 0;
    }

    .main .content-box {
        border-color: #d9d9d9;
    }
    .content-box,
    .content-box-spacing {
        margin-top: 1em;
    }
    .content-box__row:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .content-box__row:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .display-table .content-box__row {
        display: table;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    .content-box__row--tight-spacing-vertical {
        padding-top: 0.8571428571em;
        padding-bottom: 0.8571428571em;
    }
    .content-box__row {
        padding: 1.1428571429em;
        position: relative;
        zoom: 1;
    }
    .content-box__row:after,
    .content-box__row:before {
        content: "";
        display: table;
    }
    .review-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        &__label {
            color: #737373;
            padding-right: 1.1428571429em;
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 5em;
            -ms-flex: 0 1 5em;
            flex: 0 1 5em;
        }
        &__inner {
            font-size: 13px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        &__content {
            -webkit-box-flex: 5;
            -webkit-flex: 5;
            -ms-flex: 5;
            flex: 5;
            color: #333;
            padding-right: 1.1428571429em;
            .address {
                margin-bottom: 0;
            }
        }
        &__link {
            max-width: 10em;
            font-size: 0.8571428571em;
            a {
                text-decoration: none;
                color: #3c9ce6;
                -webkit-transition: color 0.2s ease-in-out;
                transition: color 0.2s ease-in-out;
            }
        }
    }
    .review-block ~ .review-block {
        margin-top: 0.8571428571em;
        padding-top: 0.8571428571em;
        border-top: 1px solid #e6e6e6;
    }
    .content-box__row:after {
        clear: both;
    }
    .input-radio {
        border-radius: 50%;
    }

    .input-radio:checked {
        border-width: 7px;
    }
    .input-radio {
        border-color: #d9d9d9;
        background-color: #fff;
        &:hover {
            border-color: #ccc;
        }
        &:disabled {
            background-color: #fafafa;
            border-color: #ccc;
        }
    }
    .input-radio {
        width: 18px;
        height: 18px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        vertical-align: -4px;
        border: 1px solid;
        border-radius: 50%;
        &:focus {
            border-width: 2px;
            border-color: #3c9ce6;
        }
        &:checked {
            border-color: #3c9ce6;
            border-width: 7px;
            &:hover {
                border-color: #3c9ce6;
            }
        }
    }
    .section__content:after,
    .section__content:before {
        content: "";
        display: table;
    }
    .display-table .checkbox-wrapper,
    .display-table .radio-wrapper {
        display: table;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    .checkbox-wrapper:last-child,
    .radio-wrapper:last-child {
        margin-bottom: 0;
    }
    .checkbox-wrapper:after,
    .checkbox-wrapper:before,
    .radio-wrapper:after,
    .radio-wrapper:before {
        content: "";
        display: table;
    }
    .checkbox-wrapper:after,
    .radio-wrapper:after {
        clear: both;
    }
    .checkbox__input,
    .radio__input {
        padding-right: 0.75em;
        white-space: nowrap;
    }
    .display-table .checkbox__input,
    .display-table .radio__input {
        display: table-cell;
    }
    .display-table .checkbox__input,
    .display-table .radio__input {
        display: table-cell;
    }
    .checkbox__label,
    .radio__label {
        cursor: pointer;
        vertical-align: middle;
    }
    .display-table .checkbox__label,
    .display-table .radio__label {
        display: table-cell;
        width: 100%;
        font-size: 13px;
    }
    .radio__label__primary {
        cursor: inherit;
        font-family: inherit;
        vertical-align: top;
    }
    .display-table .radio__label__primary {
        display: table-cell;
        width: 100%;
        font-weight: 600;
    }
    .radio__label__accessory {
        text-align: right;
        padding-left: 0.75em;
        white-space: nowrap;
    }
    .display-table .radio__label__accessory {
        display: table-cell;
    }
    .content-box__row ~ .content-box__row {
        border-top: 1px solid #d9d9d9;
    }
    .content-box__row {
        &--secondary {
            background-color: #fafafa;
        }
        .position-relative {
            .field__icon {
                height: inherit;
                top: 35%;
            }
            .checkbox__label {
                display: none;
            }
            &.error {
                .field__icon {
                    height: inherit;
                    top: 24%;
                }
                .field__input {
                    border: 2px solid #dc3545;
                }

                .checkbox__label {
                    &.error {
                        display: block;
                        margin: 8px 0;
                        color: #dc3545;
                    }
                }
            }
        }
    }
    .breadcrumb__item--current {
        font-weight: 500;
        color: #333;
    }
    .payment-icon {
        display: inline-block;
        width: 38px;
        height: 24px;
        -webkit-transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.3, 0, 0, 1);
        -webkit-backface-visibility: hidden;
    }
    .payment-icon--visa {
        background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg),
            none;
    }
    .payment-icon--master {
        background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg),
            none;
    }
    .payment-icon--american-express {
        background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/american_express-2264c9b8b57b23b0b0831827e90cd7bcda2836adc42a912ebedf545dead35b20.svg),
            none;
    }
    .payment-icon--discover {
        background-image: url(https://cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/discover-cc9808e50193c7496e7a5245eb86d5e06f02e2476c0fe70f2c40016707d35461.svg),
            none;
    }
    .payment-icon {
        border-radius: 0.2142857143em;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 2.7142857143em;
        height: 1.7142857143em;
    }
    .radio__label__accessory .payment-icon {
        cursor: default;
        margin: -0.1428571429em 0 -0.4285714286em;
    }
    .content-box .field__icon {
        right: 0;
    }
}
html {
    height: 100%;
}

@media (max-width: 767.77px) {
    .main {
        padding-top: 1.5em;
    }
    .breadcrumb {
        padding-bottom: 1.5em !important;
    }
    .content_checkout .step__footer__continue-btn {
        width: 100%;
        margin-bottom: 24px;
    }
    .content_checkout .step__footer__previous-link {
        float: inherit;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
}
@media (min-width: 768px) {
    .content_checkout {
        .step__footer__info,
        .step__footer__previous-link {
            margin-left: 1.5em;
        }
        .step__footer__continue-btn {
            float: right;
        }
        .section__header {
            margin-bottom: 1.5em;
        }
        .floating-labels .field--half {
            width: 50%;
        }
        .floating-labels .field--third {
            width: 33.3333333333%;
        }
        .section {
            padding-top: 3em;
        }
        .tooltip {
            -webkit-transform-origin: center 120%;
            transform-origin: center 120%;
            right: 50%;
            margin-right: -90px;
        }
        .tooltip:after {
            right: 50%;
            margin-right: -6px;
        }
        .step__footer {
            margin-top: 1.5em;
        }
        .step__footer {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
    }
}
@media (min-width: 1000px) {
    .content_checkout {
        .sidebar {
            width: 38%;
            padding-left: 4%;
            background-position: left top;
            float: right;
        }
        .sidebar {
            padding-top: 4em;
        }
        .sidebar::after {
            left: 0;
            background-position: left top;
            -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
            box-shadow: 1px 0 0 #e1e1e1 inset;
        }

        .order-summary__section {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
        .order-summary__section--product-list + .order-summary__section {
            border: 0;
        }
        .order-summary__sections {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            height: calc(100vh - 8em);
            width: 100%;
        }
        .order-summary__section:first-child {
            padding-top: 0;
        }
        .order-summary__section--product-list::after,
        .order-summary__section--product-list::before {
            content: "";
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            -webkit-transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
            transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
            width: 100%;
            z-index: 4;
        }
        .order-summary__section--product-list::before {
            background-color: transparent;
            top: 0;
        }
        .order-summary__section--product-list::after {
            background-color: rgba(175, 175, 175, 0.34);
            bottom: 0;
        }
        .order-summary__section__content {
            overflow: hidden;
        }
        .order-summary__section--product-list .product-table {
            margin-top: 0.75em;
            margin-bottom: 1.5em;
            position: relative;
            z-index: 1;
        }
        .product:first-child td {
            padding-top: 0;
        }

        .wrap {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .wrap {
            padding: 0 5%;
            width: 90%;
            max-width: 80.5714285714em;
        }
        .main {
            padding-top: 4em;
            width: 52%;
            padding-right: 6%;
            float: left;
            &__header {
                padding-bottom: 2em;
            }
            &__order {
                img {
                    width: 56px;
                }
                &--content {
                    p {
                        font-size: 12px;
                        color: #717171;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
        .page--logo-main .main .logo {
            display: block;
        }
        .logo__image--medium {
            max-height: 4.2857142857em;
        }
        .page--logo-main .breadcrumb {
            margin-top: 1em;
        }
        .dynamic-checkout {
            margin-top: 1.5em;
        }
        .main__content {
            padding-bottom: 4em;
        }
    }
}
.has-tooltip.show-tooltip .tooltip,
.has-tooltip:focus .tooltip,
.has-tooltip:hover .tooltip,
.tooltip-container.show-tooltip .tooltip,
.tooltip-container:focus .tooltip,
.tooltip-container:hover .tooltip {
    -webkit-transform: rotateX(0) scale(1);
    transform: rotateX(0) scale(1);
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
