.shopify-section {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 40;
    background: #fff;
}
.header-navbar {
    position: relative;
    height: 80px;
}
a {
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}
.header {
    box-shadow: 0 2px 4px 0 rgba($color: #4c4c4b, $alpha: 0.1);
    font-family: "Poppins", sans-serif;
    &__brand {
        flex: 0 0 auto;
        display: flex;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        padding: 1rem 0.75rem;
    }
    .logo {
        width: 150px;
    }
    &__menu {
        height: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        .navbar-link {
            letter-spacing: 1px;
            color: $black;
            line-height: 1.5;
            padding: 1rem 0.75rem;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: $color-primary;
                .fas {
                    transition: color 0.3s ease-in-out;
                    transform: rotate(180deg);
                    color: $color-primary;
                }
            }
        }
        .mega-menu {
            display: none;
            left: 0;
            font-size: 14px;
            letter-spacing: 0px;
            text-transform: none;
            font-weight: 500;
            position: absolute;
            top: 100%;
            width: 100%;
            min-width: 100%;
            z-index: 20;
            box-shadow: 0 8px 8px rgba($color: #0a0a0a, $alpha: 0.1);
            &__content {
                padding: 20px 10px;
            }
        }
        .has-mega-menu {
            &.is-active {
                .mega-menu {
                    display: block;
                    border-top-width: 1px;
                    border-top-color: rgba($color: #4c4c4b, $alpha: 0.1);
                    border-top-style: solid;
                    background-color: #ffffff !important;
                    color: #3f3f3f;
                }
            }
            .mega-menu {
                &__content {
                    text-align: center;
                    a {
                        color: $black;
                        text-decoration: none;
                    }
                }
                &__image {
                    .sticker-text {
                        background-color: #007ace;
                        color: white;
                        padding: 6px 10px;
                        position: absolute;
                        left: 0;
                    }
                }
                &__heading {
                    font-weight: 600;
                    margin: 10px 0;
                    font-size: 18px;
                }
                &__desciption {
                    color: #3f3f3f;
                    font-weight: 500;
                    font-size: 14px;
                }
                &__banner {
                    background-color: #007ace;
                    color: #efefef;
                    padding: 0.75em 1em;
                    width: 100%;
                    transition: background-color 0.2s linear;
                }
                &__sticker-text {
                    padding: 0 0.5em;
                    margin-bottom: 0;
                    font-size: 15px;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
    &__icons {
        position: relative;
        cursor: pointer;
        .icon {
            transition: 0.3s ease-in-out;
            -moz-align-items: center;
            -ms-align-items: center;
            align-items: center;
            display: -moz-inline-flex;
            display: inline-flex;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            height: 1.2rem;
            width: 1.2rem;
            fill: currentColor;
        }
        &:hover {
            .icon {
                fill: $color-primary;
            }
        }
        .count {
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: calc(1rem * -0.3);
            left: calc(65% - 0.2rem);
            font-size: 0.7rem;
            background: #3c9ce6;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__mobile {
        padding-left: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .icon {
            cursor: pointer;
            opacity: 0;
            &.active {
                opacity: 1;
            }
            svg {
                width: 16px;
            }
        }
    }
    &__mobile-item {
        padding: 0;
        list-style: none;
        height: 100vh;
        overflow-y: auto;
        left: -100%;
        position: absolute;
        top: 100%;
        transition: left 0.3s ease-in-out;
        width: 100%;
        z-index: 40;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background: #fff;
        li {
            .item_link {
                padding-left: 24px;
                color: #231f20;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 3;
                &:hover {
                    color: $color-primary;
                }
            }
            &.dropdown {
                .btn {
                    padding-right: 16px;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &:hover {
                        color: $color-primary;
                        transition: 0.3s;
                    }
                }
            }
        }
        .mega-menu__content {
            position: relative;
            padding: 20px 0;
            text-align: center;
            a {
                color: #231f20;
                text-decoration: none;
            }
        }
        .mega-menu__image .sticker-text {
            background-color: #007ace;
            color: #fff;
            padding: 6px 10px;
            position: absolute;
            left: 0;
        }
        .mega-menu__heading {
            font-weight: 600;
            margin: 10px 0;
            font-size: 18px;
        }
        .mega-menu__banner {
            background-color: #007ace;
            color: #efefef;
            padding: 0.75em 1em;
            width: 100%;
            transition: background-color 0.2s linear;
            .mega-menu__sticker-text {
                padding: 0 0.5em;
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
.mobile-menu-open {
    overflow: hidden;
    height: 100vh;
    .header__mobile-item {
        transition: left 0.5s;
        left: 0;
        height: calc(100vh - 52px);
    }
}
.shop-sound {
    padding-bottom: 70px;
    .sticker-text {
        background-color: #007ace;
        color: white;
        padding: 6px 10px;
        position: absolute;
        left: 0;
    }
    &__item {
        text-align: center;
        &--title {
            padding-top: 13px;
            color: #3c75e6;
        }
    }
}
.thumbnail-swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    .swatch {
        width: 28px;
        height: 28px;
        border-radius: 50%;

        position: relative;
        &__image {
            border-radius: 50%;
            max-width: 20px;
            max-height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.available {
            border: 1px solid #000;
        }
    }
}

@media (max-width: 767.77px) {
    .header {
        .header-navbar {
            justify-content: space-between;
            height: 52px;
        }
        .header__icons {
            cursor: pointer;
            margin-right: 16px;
        }
    }
}

@media (min-width: 576px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
