.control {
    .quantity-input {
        text-align: center;
        padding: 8px;
        width: 72px;
        height: 38px;
        border: none;
        border-top: thin solid #cccccc;
        border-bottom: thin solid #cccccc;
    }
    .quantity-input[type="number"] {
        -moz-appearance: textfield;
    }
    .quantity-input::-webkit-outer-spin-button,
    .quantity-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .icon {
        width: 38px;
        height: 38px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3c9ce6;
        svg {
            fill: #ffffff;
            width: 16px;
            height: 16px;
        }
        &.unactive {
            opacity: 0.7;
        }
    }
}

.btn-close-pop {
    margin-left: 24px;
    width: 22px;
    height: 22px;
    padding: 0;
    background: #10101057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.2);
    svg {
        fill: #ffffff;
        width: 10px;
    }
}
.modal {
    &.rate {
        .modal-dialog {
            height: 584px;
            .modal-content {
                height: 100%;
                .modal-body {
                    position: relative;
                    padding: 0;
                    .comment {
                        background: rgb(145, 137, 126);
                        height: 100%;
                        align-items: center;
                        &__left,
                        &__right {
                            flex-basis: 50%;
                        }
                        &__right {
                            padding: 24px 24px 16px 24px;
                            height: 100%;
                            background-color: #fff;
                            display: flex;
                            flex-direction: column;
                            &--head {
                                .name {
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 500;
                                }
                                .date {
                                    color: #767676;
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: normal;
                                }
                                .star {
                                    color: #febf00;
                                }
                                .verifi {
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #767676;
                                    i {
                                        font-size: 12px;
                                    }
                                }
                            }
                            &--content {
                                padding-top: 24px;
                                font-size: 16px;
                                line-height: 24px;
                                flex-grow: 1;
                                max-height: calc(100vh - 300px);
                                overflow: auto;
                            }
                            &--bottom {
                                .title {
                                    text-transform: uppercase;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 400;
                                    color: black;
                                    margin-bottom: 8px;
                                }
                                .icon-button {
                                    align-self: flex-start;
                                    display: inline-flex;
                                    align-items: center;
                                    padding: 6px 11px;
                                    background-color: rgba(0, 0, 0, 0.05);
                                    border-radius: 8px;
                                    transition: background-color 0.1s ease-in;
                                    &:hover {
                                        background-color: rgba(0, 0, 0, 0.1);
                                    }
                                }
                            }
                        }
                        .btn-close-pop {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            width: 36px;
                            height: 36px;
                            padding: 12px;
                            border-radius: 8px;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.3);
                            i {
                                font-size: 24px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
    &.pop-cart {
        .modal-dialog {
            width: 40%;
            height: 100vh;
            margin: 0;
            margin-left: auto;
            .modal-content {
                border-radius: 0;
                height: 100%;
                overflow-y: auto;
                .modal-header {
                    border-radius: 0;
                    justify-content: center;
                    position: relative;
                    padding: 1rem 1rem;
                    font-weight: bold;
                    border-bottom: 2px solid rgba(204, 204, 204, 0.5);
                    .modal-title {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .btn-close {
                        position: absolute;
                        top: 65%;
                        right: 0px;
                        transform: translate(-50%, -50%);
                    }
                }
                .modal-body {
                    padding: 0;
                    .empty {
                        padding: 1rem;
                        text-align: center;
                        svg {
                            width: 32px;
                            margin-bottom: 10px;
                        }
                        p {
                            margin-bottom: 10px;
                        }
                    }
                    .not-empty {
                        &__product {
                            padding: 1rem;
                            border-bottom: 1px solid rgba(204, 204, 204, 0.5);
                            img {
                                width: 66px;
                                height: 66px;
                                -o-object-fit: cover;
                                object-fit: cover;
                                margin-right: 20px;
                            }
                            .title {
                                font-size: 14px;
                                font-weight: 400;
                            }
                            .price {
                                margin: 8px 0;
                            }
                        }
                        &__total {
                            text-align: center;
                            padding: 1rem;
                            border-top: 2px solid rgba(204, 204, 204, 0.5);
                            .btn {
                                margin: 20px 0;
                                width: 100%;
                                text-align: center;
                                border-radius: 30px;
                                font-size: 15px;
                                width: 100%;
                                svg {
                                    width: 15px;
                                    fill: #ffffff;
                                    margin-top: -4px;
                                    margin-right: 4px;
                                }
                            }
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal-open .modal.pop-cart {
    overflow-y: inherit;
}
@media (max-width: 767.77px) {
    .modal {
        &.pop-cart {
            .modal-dialog {
                width: 100%;
            }
        }
        &.rate {
            .modal-dialog {
                .modal-body {
                    .comment{
                       flex-direction: column;
                       &__left{
                        flex-basis: auto;
                        height: 230px;
                        img{
                            height: 230px;
                        }
                       }
                       &__right{
                           &--content{
                            max-height: calc(100vh - 500px);
                           }
                       }
                    }
                }
            }
        }
    }
}
