.shipping{
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 50px;
    .title{
        color: #000;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.125;
    }
   .content{
       span, strong{
           padding: 0;
       }
       h3{
        font-size: 1.5em;
        margin-bottom: .6666em;
        word-wrap: break-word;
       }
       a{
           color: $color-primary;
           padding: 0;
       }
   }
   ul li{
      padding: 4px; 
   }
}
@media (min-width:992px){
    .shipping{
        padding-top: 50px;
    }
}