.banner-crumb {
    margin-top: 80px;
    position: relative;
    img {
        height: 276px;
    }
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__heading {
        margin-bottom: 8px;
        font-family: "Varela Round", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 55px;
        text-transform: none;
        color: #ffffff;
        white-space: nowrap;
    }
    &__subheading {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 1px;
        color: #ffffff;
    }
}
.list-product {
    padding: 50px 0;
}
.product-detail {
    margin-top: 80px;
    .btn-transparent {
        color: #2b2823;
        box-shadow: none;
        text-transform: none;
        font-size: 0.8rem;
        letter-spacing: 0;
        padding: 16px 0 28px;
        flex-basis: 50%;
        &:hover {
            text-decoration: underline;
        }
    }
    .function {
        &__content {
            padding: 30px;
            width: 100%;
            position: absolute;
            background-color: rgba($color: #ffffff, $alpha: 0);
            top: 42%;
            text-align: center;
            left: 50%;
            font-size: 16px;
            transform: translate(-50%, -50%);
            &--heading {
                font-family: "Varela Round", sans-serif;
                font-weight: 600;
                font-style: normal;
                font-size: 42px;
                text-transform: none;
            }
        }
        &__heading {
            font-size: 28px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        p {
            font-size: 15px;
        }
    }
}
.btn-amazon {
    background: #fad676;
    border-radius: 0;
    font-size: 14px;
    svg {
        width: 84px;
        margin-top: 6px;
    }
}

.rating-detail__item {
    // height: 500px;
    // background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 8px;
}
@media (min-width: 992px){
    .product-detail {
        .function {
            &__content {
                width: 80%;
                top: 50%;
                text-align: left;
            }
        }
    }
}
@media (min-width: 1200px) {
    .col-xlg-5 {
        flex: 0 0 auto;
        width: 20%;
    }
    .product-detail {
        .function {
            &__content {
                width: 23%;
                top: 22%;
                text-align: left;
            }
        }
    }
   
}
.rating-detail {
    margin-bottom: 100px;
    .rating-detail__item {
        .our-fan__content--item {
            text-align: left;
        }
        .info-comment {
            padding: 0 12px 12px;
            margin-top: 0px;
            .description {
                font-size: 14px;
                line-height: 19px;
            }
            .hot-product__star {
                padding: 10px 0;
            }
            .block {
                padding: 10px 10px 0;
                .metadata {
                    margin-bottom: 5px;
                    .small {
                        font-size: 11px;
                        color: #2b2823;
                    }
                    .value {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.title {
    color: black;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.125;
}
.review {
    margin-top: 80px;
    padding-top: 40px;

    .description {
        font-weight: 400;
        font-size: 15px;
        color: #2b2823;
        a {
            color: #3c75e6;
            cursor: pointer;
        }
    }
    .fas {
        font-size: 24px;
        color: #febf00;
    }
    .info-review {
        margin-right: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #3c9ce6;
    }
}
