@import "modules/register";
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
@media (max-width: 767.77px) {
    .banner-crumb,
    .faq,
    .product-detail,
    .review {
        margin-top: 52px;
    }
    .banner-crumb .content {
        width: 80%;
    }
    .banner-crumb__heading,
    .faq__banner--content {
        font-size: 28px;
        white-space: inherit;
    }
    .list-product.shop-sound {
        .col-md-4 {
            padding-bottom: 52px;
        }
    }
    .faq {
        &__banner {
            img {
                height: 180px;
            }
        }
    }

    .review .fas {
        font-size: 16px;
        margin-bottom: 8px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
