<section class="shipping">
    <div class="container">
        <div class="heading-wrapper">
            <h1 class=" contact-page__title title">
                Contact Us
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-align-left">
                    <h2 class="contact-form__heading title">
                        <span>We're here to help!</span>
                    </h2>
                    <div class="contact-form__text">
                        <p><strong>Customer Support</strong></p>
                        <p>Contact us at the email address or phone number below or fill out the contact form and
                            we'll follow up!</p>
                        <p></p>
                        <p>Email:&nbsp;<a href="mailto:cs@abc.com">cs@abc.com</a></p>
                        <p>Phone:&nbsp;<a href="tel:+123123123" title="tel:+123123123">1-855-953-4125</a></p>
                        <p></p>
                        <p>&nbsp;</p>
                        <p><strong>Hospitality Inquiries</strong></p>
                        <p>For information on our hotel-specific offerings and special pricing, please reach out
                            to&nbsp;<a href="mailto:hospitality@abc.com">hospitality@abc.com</a></p>
                        <p>&nbsp;</p>
                        <p><strong>Press Inquiries</strong></p>
                        <p>Please reach out to Matt at&nbsp;<a href="mailto:hello@abc.com">hello@abc.com</a></p>
                        <p>&nbsp;</p>
                        <p></p>
                    </div>
                    <div class="contact-form__social">
                        <ul class="social-icons is-flex is-flex-wrap ">
                            <li> <a href="https://facebook.com/abc" title="abc on Facebook" rel="me" target="_blank"
                                    class="icon-facebook">
                                    <span class="icon " data-icon="facebook"> <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 100 100">
                                            <g id="facebook">
                                                <path
                                                    d="M57,27.73V38H72.83l-2.09,16H57V95H40.45V53.94H26.62V38H40.45V26.15C40.45,12.46,48.83,5,61,5h0a115.36,115.36,0,0,1,12.34.63V19.94H64.92C58.26,19.94,57,23.1,57,27.73Z">
                                                </path>
                                            </g>
                                        </svg>
                                    </span></a></li>
                            <li> <a href="https://www.youtube.com/channel/UCyIlyPNTaDlm4O7O7-wl0Aw"
                                    title="abc on YouTube" rel="me" target="_blank" class="icon-youtube">





                                    <span class="icon " data-icon="youtube"> <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 100 100">
                                            <g id="youtube">
                                                <path
                                                    d="M79.77,18.85H20.23A15.22,15.22,0,0,0,5,34.08V65.92A15.22,15.22,0,0,0,20.23,81.15H79.77A15.22,15.22,0,0,0,95,65.92V34.08A15.22,15.22,0,0,0,79.77,18.85Zm-26,38.09L42.36,62.81a1.41,1.41,0,0,1-2-1.26V38.45a1.41,1.41,0,0,1,2-1.26l11.45,5.87,11.06,5.69a1.4,1.4,0,0,1,0,2.5Z">
                                                </path>
                                            </g>
                                        </svg>


                                    </span></a></li>
                            <li> <a href="https://www.pinterest.com/abcsleep/" title="abc on Pinterest" rel="me"
                                    target="_blank" class="icon-pinterest">





                                    <span class="icon " data-icon="pinterest"> <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 100 100">
                                            <g id="pinterest">
                                                <path
                                                    d="M86,34.61C86,54.89,74.33,70,57.17,70c-5.76,0-11.18-3-13-6.45,0,0-3.1,11.92-3.76,14.22-2.31,8.12-9.12,16.25-9.64,16.92a.72.72,0,0,1-1.27-.3c-.14-1-1.88-11.29.16-19.64L36.5,46.62a19.32,19.32,0,0,1-1.71-8.19c0-7.66,4.59-13.38,10.3-13.38,4.86,0,7.2,3.54,7.2,7.76,0,4.73-3.11,11.8-4.71,18.35-1.34,5.49,2.84,10,8.42,10,10.12,0,16.93-12.58,16.93-27.49,0-11.32-7.88-19.81-22.22-19.81-16.19,0-26.28,11.7-26.28,24.76A14.6,14.6,0,0,0,28,48.72c1,1.13,1.13,1.59.77,2.88l-1.09,4.15A1.85,1.85,0,0,1,25,57.05C17.49,54.1,14,46.19,14,37.3,14,22.61,26.8,5,52.18,5,72.57,5,86,19.29,86,34.61Z">
                                                </path>
                                            </g>
                                        </svg>


                                    </span></a></li>
                            <li> <a href="https://www.instagram.com/abc/" title="abc on Instagram" rel="me"
                                    target="_blank" class="icon-instagram">





                                    <span class="icon " data-icon="instagram"> <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 100 100">
                                            <g id="instagram">
                                                <path
                                                    d="M73.75,5H26.25A21.27,21.27,0,0,0,5,26.25v47.5A21.27,21.27,0,0,0,26.25,95h47.5A21.27,21.27,0,0,0,95,73.75V26.25A21.27,21.27,0,0,0,73.75,5Zm-8.6,60.13A21.43,21.43,0,1,1,71.44,50,21.4,21.4,0,0,1,65.15,65.13ZM81.9,29.34A7.62,7.62,0,1,1,84.14,24,7.59,7.59,0,0,1,81.9,29.34Z">
                                                </path>
                                            </g>
                                        </svg>


                                    </span></a></li>















                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form>
                        <div class="contact-form__blocks">
                            <label for="First_and_Last_Name" class="label ">
                                First and Last Name <span class="required">*</span>
                            </label>
                            <input type="text" placeholder="" class="input" required="required">
                        </div>
                        <div class="contact-form__blocks">
                            <label for="First_and_Last_Name" class="label ">
                                Email <span class="required">*</span>
                            </label>
                            <input type="text" placeholder="" class="input" required="required">
                        </div>
                        <div class="contact-form__blocks">
                            <label for="First_and_Last_Name" class="label ">
                                Order Number (if applicable)
                            </label>
                            <input type="text" placeholder="" class="input">
                        </div>
                        <div class="contact-form__blocks">
                            <label for="First_and_Last_Name" class="label ">
                                How can we help? *
                            </label>
                            <textarea placeholder="" class="textarea" required="required"></textarea>
                        </div>
                        <div class="one-whole column mt-4">
                            <button type="" class="button button--primary is-within-form">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>