<section class="faq">
    <div class="container">
        <div class="faq__banner">
            <img src="/assets/img/faq-banner.jpg" class="w-100" alt="">
            <h1 class="faq__banner--content">
                Frequently Asked Questions
            </h1>
        </div>
        <div class="faq__product">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        Product FAQ
                    </div>
                    <div class="faq__product--content">
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx1"
                                aria-expanded="false" aria-controls="collapEx1">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use an app?
                            </button>
                            <div class="collapse" id="collapEx1">
                                <div class="card card-body">
                                    Smartphone apps may be convenient, but phone speakers are incapable of producing
                                    full-spectrum, natural sound like SNOOZ. Think about playing music – phone speakers
                                    are great in a pinch but, if you’re going to spend time listening to music, you’re
                                    going to want to find headphones or better speakers.
                                    <br />
                                    Further, many digital apps or machines rely on looping tracks so your mind picks up
                                    on the pattern and the device that is supposed to help you sleep actually has the
                                    opposite effect. SNOOZ doesn’t rely on a recording, its sound is truly random and
                                    natural, and it never loops.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx2"
                                aria-expanded="false" aria-controls="collapEx2">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use a fan?
                            </button>
                            <div class="collapse" id="collapEx2">
                                <div class="card card-body">
                                    SNOOZ was designed to generate the best possible fan sound for sleeping. Part of
                                    that means that its tone and volume are adjustable. Also, unlike a fan, SNOOZ is
                                    travel friendly, doesn’t blow unwanted cold air (in the winter, for instance), uses
                                    a fraction of the energy, and includes advanced features in the free iOS and Android
                                    companion apps.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx3"
                                aria-expanded="false" aria-controls="collapEx3">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Does SNOOZ blow air around the room?
                            </button>
                            <div class="collapse" id="collapEx3">
                                <div class="card card-body">
                                    Nope! SNOOZ is designed to convert nearly all the energy of the fan into generating
                                    sound, and not moving air around a room. For this reason, at an equal sound decibel
                                    level, SNOOZ uses about 98% less energy than a typical room fan. As a result, you
                                    get that same familiar fan sound, but nearly zero disturbance to the surrounding
                                    air.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx4"
                                aria-expanded="false" aria-controls="collapEx4">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                What does SNOOZ sound like?
                            </button>
                            <div class="collapse" id="collapEx4">
                                <div class="card card-body">
                                    SNOOZ sounds like a fan. On the one end of the spectrum, SNOOZ produces light fan
                                    sound (that you might hear from an oscillating stand fan), on the other end, SNOOZ
                                    produces a deep fan sound (that you might associate with an airplane cabin). You can
                                    adjust the tone to your liking with a rotation of the outer shell.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx5"
                                aria-expanded="false" aria-controls="collapEx5">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Does SNOOZ ever need to be opened and cleaned?
                            </button>
                            <div class="collapse" id="collapEx5">
                                <div class="card card-body">
                                    Nope! SNOOZ is engineered so the energy goes into producing sound and not moving
                                    air, so the inflow and outflow are close to zero. As a result of this design, dust,
                                    pet hair, and anything else are not filtered through the device like a common fan.
                                    <br />
                                    Depending on your sleep environment, it’s possible that a slight amount of dust may
                                    show on the fabric over a long period of time, but it’s easily brushed off and
                                    shouldn’t be a major nuisance.
                                </div>
                            </div>
                        </div>
                        <img src="/assets/img/faq-image-1.jpg" class="w-100" alt="">
                    </div>
                    <div class="title">
                        Order FAQs
                    </div>
                    <div class="faq__product--content">
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx1"
                                aria-expanded="false" aria-controls="collapEx1">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use an app?
                            </button>
                            <div class="collapse" id="collapEx1">
                                <div class="card card-body">
                                    Smartphone apps may be convenient, but phone speakers are incapable of producing
                                    full-spectrum, natural sound like SNOOZ. Think about playing music – phone speakers
                                    are great in a pinch but, if you’re going to spend time listening to music, you’re
                                    going to want to find headphones or better speakers.
                                    <br />
                                    Further, many digital apps or machines rely on looping tracks so your mind picks up
                                    on the pattern and the device that is supposed to help you sleep actually has the
                                    opposite effect. SNOOZ doesn’t rely on a recording, its sound is truly random and
                                    natural, and it never loops.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx2"
                                aria-expanded="false" aria-controls="collapEx2">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use a fan?
                            </button>
                            <div class="collapse" id="collapEx2">
                                <div class="card card-body">
                                    SNOOZ was designed to generate the best possible fan sound for sleeping. Part of
                                    that means that its tone and volume are adjustable. Also, unlike a fan, SNOOZ is
                                    travel friendly, doesn’t blow unwanted cold air (in the winter, for instance), uses
                                    a fraction of the energy, and includes advanced features in the free iOS and Android
                                    companion apps.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx3"
                                aria-expanded="false" aria-controls="collapEx3">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Does SNOOZ blow air around the room?
                            </button>
                            <div class="collapse" id="collapEx3">
                                <div class="card card-body">
                                    Nope! SNOOZ is designed to convert nearly all the energy of the fan into generating
                                    sound, and not moving air around a room. For this reason, at an equal sound decibel
                                    level, SNOOZ uses about 98% less energy than a typical room fan. As a result, you
                                    get that same familiar fan sound, but nearly zero disturbance to the surrounding
                                    air.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx4"
                                aria-expanded="false" aria-controls="collapEx4">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                What does SNOOZ sound like?
                            </button>
                            <div class="collapse" id="collapEx4">
                                <div class="card card-body">
                                    SNOOZ sounds like a fan. On the one end of the spectrum, SNOOZ produces light fan
                                    sound (that you might hear from an oscillating stand fan), on the other end, SNOOZ
                                    produces a deep fan sound (that you might associate with an airplane cabin). You can
                                    adjust the tone to your liking with a rotation of the outer shell.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/assets/img/faq-image-2.jpg" class="w-100" alt="">
                    <div class="title">
                        App/Connectivity FAQs
                    </div>
                    <div class="faq__product--content">
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx1"
                                aria-expanded="false" aria-controls="collapEx1">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use an app?
                            </button>
                            <div class="collapse" id="collapEx1">
                                <div class="card card-body">
                                    Smartphone apps may be convenient, but phone speakers are incapable of producing
                                    full-spectrum, natural sound like SNOOZ. Think about playing music – phone speakers
                                    are great in a pinch but, if you’re going to spend time listening to music, you’re
                                    going to want to find headphones or better speakers.
                                    <br />
                                    Further, many digital apps or machines rely on looping tracks so your mind picks up
                                    on the pattern and the device that is supposed to help you sleep actually has the
                                    opposite effect. SNOOZ doesn’t rely on a recording, its sound is truly random and
                                    natural, and it never loops.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx2"
                                aria-expanded="false" aria-controls="collapEx2">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Why not just use a fan?
                            </button>
                            <div class="collapse" id="collapEx2">
                                <div class="card card-body">
                                    SNOOZ was designed to generate the best possible fan sound for sleeping. Part of
                                    that means that its tone and volume are adjustable. Also, unlike a fan, SNOOZ is
                                    travel friendly, doesn’t blow unwanted cold air (in the winter, for instance), uses
                                    a fraction of the energy, and includes advanced features in the free iOS and Android
                                    companion apps.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx3"
                                aria-expanded="false" aria-controls="collapEx3">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Does SNOOZ blow air around the room?
                            </button>
                            <div class="collapse" id="collapEx3">
                                <div class="card card-body">
                                    Nope! SNOOZ is designed to convert nearly all the energy of the fan into generating
                                    sound, and not moving air around a room. For this reason, at an equal sound decibel
                                    level, SNOOZ uses about 98% less energy than a typical room fan. As a result, you
                                    get that same familiar fan sound, but nearly zero disturbance to the surrounding
                                    air.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx4"
                                aria-expanded="false" aria-controls="collapEx4">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                What does SNOOZ sound like?
                            </button>
                            <div class="collapse" id="collapEx4">
                                <div class="card card-body">
                                    SNOOZ sounds like a fan. On the one end of the spectrum, SNOOZ produces light fan
                                    sound (that you might hear from an oscillating stand fan), on the other end, SNOOZ
                                    produces a deep fan sound (that you might associate with an airplane cabin). You can
                                    adjust the tone to your liking with a rotation of the outer shell.
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapEx5"
                                aria-expanded="false" aria-controls="collapEx5">
                                <span class="icon plus" data-icon="plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <g id="plus">
                                            <polygon
                                                points="95 46 54 46 54 5 46 5 46 46 5 46 5 54 46 54 46 95 54 95 54 54 95 54 95 46">
                                            </polygon>
                                        </g>
                                    </svg>
                                </span>
                                <span class="icon minus" data-icon="minus"> <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 100 100">
                                        <g id="minus">
                                            <rect x="5" y="46" width="90" height="8"></rect>
                                        </g>
                                    </svg>
                                </span>
                                Does SNOOZ ever need to be opened and cleaned?
                            </button>
                            <div class="collapse" id="collapEx5">
                                <div class="card card-body">
                                    Nope! SNOOZ is engineered so the energy goes into producing sound and not moving
                                    air, so the inflow and outflow are close to zero. As a result of this design, dust,
                                    pet hair, and anything else are not filtered through the device like a common fan.
                                    <br />
                                    Depending on your sleep environment, it’s possible that a slight amount of dust may
                                    show on the fabric over a long period of time, but it’s easily brushed off and
                                    shouldn’t be a major nuisance.
                                </div>
                            </div>
                        </div>
                        <img src="/assets/img/faq-image-1.jpg" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>