<section class="slider position-relative">
    <img src="assets/img/slider-banner.jpg" class="w-100" alt="">
    <div class="caption-content">
        <h2 class="caption-content__title">
            Turn your bedroom into a <br /> haven for
            sleep.
        </h2>
        <div class="caption-content__description">
            <p>Peaceful, non-looping white noise so you can&nbsp;fall asleep and stay asleep.</p>
        </div>
        <div class="caption-content__button m-auto">
            <a href="/products/snooz-white-noise-machine" class="button button--primary ">
                Shop SNOOZ
            </a>
        </div>
    </div>
</section>
<section class="feature">
    <div class="container">
        <div class="feature__title text-center">
            PROUDLY FEATURED IN
        </div>
        <div class="feature__brand">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/brand-1.png" class="w-100" alt="">
                </div>
                <div class="col-2">
                    <img src="assets/img/brand-2.png" class="w-100" alt="">
                </div>
                <div class="col-2">
                    <img src="assets/img/brand-3.png" class="w-100" alt="">
                </div>
                <div class="col-2">
                    <img src="assets/img/brand-4.png" class="w-100" alt="">
                </div>
                <div class="col-2">
                    <img src="assets/img/brand-5.png" class="w-100" alt="">
                </div>
                <div class="col-2">
                    <img src="assets/img/brand-6.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hot-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hot-product__show">
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item-2.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__show--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                </div>
                <div class="hot-product__thumbl">
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item-2.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                    <div class="hot-product__thumbl--item">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hot-product__star">
                    <div class="letter">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span>(604)</span>
                </div>
                <div class="hot-product__title">
                    <a href="/products/snooz-white-noise-machine">SNOOZ White Noise Sound Machine</a>
                </div>
                <p class="hot-product__price">$79.99</p>

                <div class="hot-product__tab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true"> Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Good for</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">Specs</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p>With a real fan inside, SNOOZ is a portable white noise machine that turns your
                                bedroom into a haven for sleep.</p>
                            <ol>
                                <li type="disc">Full-spectrum sound helps you fall asleep and stay asleep</li>
                                <li type="disc">Real fan inside (without unwanted cold air in cooler months)</li>
                                <li type="disc">Adjustable tone &amp; 10 volume settings</li>
                                <li type="disc">Optional iOS and Android companion apps for added functionality</li>
                                <li type="disc">Travel-friendly</li>
                            </ol>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <ol>
                                <li type="disc">Loud Neighbors (even the upstairs variety!)</li>
                                <li type="disc">Hotel Rooms</li>
                                <li type="disc">Street/Freeway Noise</li>
                                <li type="disc">Nurseries</li>
                                <li type="disc">Snoring</li>
                                <li type="disc">Dog Barking</li>
                            </ol>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <ol>
                                <li type="disc">Diameter: 5.6 in</li>
                                <li type="disc">Height: 3.2 in</li>
                                <li type="disc">Weight: 1.1 lbs</li>
                                <li type="disc">Volume Settings: 10</li>
                                <li type="disc">Min Volume (measured at device): 46 dBA</li>
                                <li type="disc">Max Volume (measured at device): 87 dBA</li>
                                <li type="disc">Wall Plug: Type A (U.S.) 100-240V, UL Certified</li>
                                <li type="disc">Cord Length: 6 ft</li>
                                <li type="disc">U.S. Patent No.: US 10,510,335 B2</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <p class="mb-2"><span style="color: #3c9ce6;"><em>Fast &amp; Free U.S. Shipping</em></span></p>
                <p><span style="color: #3c9ce6;"><em>100-Night Happiness Guarantee</em></span></p>
                <div class="hot-product__color  mb-5">
                    <label for="" class="mb-2">Cloud</label>
                    <div class="d-flex align-items-center">
                        <div class="swatch-element color cloud-swatch available me-2">
                            <div class="tooltip">Cloud</div>
                            <label>
                                <img class="swatch__image "
                                    src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185" alt="">
                                <span class="crossed-out" aria-label="Sold Out" alt="Sold Out"></span></label>
                        </div>
                        <div class="swatch-element color cloud-swatch">
                            <div class="tooltip">Cloud</div>
                            <label>
                                <img class="swatch__image "
                                    src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                    alt="">
                                <span class="crossed-out" aria-label="Sold Out" alt="Sold Out"></span></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-sno me-2">
                        Add to cart
                    </button>
                    <button class="btn btn-primary">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fan-sound">
    <div class="container">
        <div class="fan-sound__head">
            Fan Sound You'll Love
        </div>
        <div class="fan-sound__item">
            <div class="row">
                <div class="col-md-4">
                    <div class="fan-sound__item--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <g id="map">
                                <polygon points="9.73 89.88 32.58 77.08 32.58 10.12 9.73 22.92 9.73 89.88"></polygon>
                                <polygon points="67.42 22.92 67.42 89.88 90.27 77.08 90.27 10.12 67.42 22.92"></polygon>
                                <polygon points="38.58 77.08 61.42 89.88 61.42 22.92 38.58 10.12 38.58 77.08"></polygon>
                            </g>
                        </svg>
                    </div>
                    <h3 class="fan-sound__item--title">
                        Travel Friendly
                    </h3>
                    <p class="fan-sound__item--description">
                        Never be without a peaceful, room-filling cocoon of sound.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="fan-sound__item--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <g id="snowflake">
                                <polygon
                                    points="74.98 41.22 87.83 46.97 91.09 39.66 83.92 36.46 91.59 32.37 87.83 25.31 80.16 29.4 81.5 21.66 73.61 20.29 71.21 34.16 54 43.34 54 23.83 65.11 15.19 60.2 8.87 54 13.7 54 5 46 5 46 13.7 39.8 8.87 34.89 15.19 46 23.83 46 42.96 29.57 33.16 27.84 19.19 19.9 20.17 20.87 27.97 13.4 23.52 9.3 30.39 16.77 34.84 9.45 37.7 12.36 45.15 25.48 40.03 41.86 49.8 25.02 58.78 12.17 53.03 8.91 60.34 16.08 63.54 8.4 67.63 12.17 74.69 19.84 70.6 18.5 78.34 26.39 79.71 28.79 65.84 46 56.66 46 76.17 34.89 84.81 39.8 91.13 46 86.3 46 95 54 95 54 86.3 60.2 91.13 65.11 84.81 54 76.17 54 57.04 70.43 66.84 72.16 80.81 80.1 79.83 79.13 72.03 86.6 76.48 90.7 69.61 83.23 65.16 90.55 62.3 87.64 54.85 74.52 59.97 58.14 50.2 74.98 41.22">
                                </polygon>
                            </g>
                        </svg>
                    </div>
                    <h3 class="fan-sound__item--title">
                        No Unwanted Cold Air
                    </h3>
                    <p class="fan-sound__item--description">
                        No more pointing a fan at the wall. SNOOZ uses a real fan but doesn't blow cold air.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="fan-sound__item--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <g id="dollar">
                                <path
                                    d="M72.92,63.05a17.11,17.11,0,0,0-8.68-12.74A30.06,30.06,0,0,0,54,47V23.68a16.9,16.9,0,0,1,10.12,6.9L71,26.49a25,25,0,0,0-17-11V7.07H46v8.41c-.7.09-1.42.21-2.15.36s-14.74,2.9-16.76,16.6A16.93,16.93,0,0,0,31.45,46.3,24.57,24.57,0,0,0,46,54.44v22c-2.62-.65-6.55-2.34-10.9-6.69l-5.65,5.66C35.89,81.82,42.06,83.9,46,84.53v8.4h8V84.15C59.91,83,64.66,80.7,68.13,77.27A16.66,16.66,0,0,0,72.92,63.05ZM37.37,40.93A9,9,0,0,1,35,33.6c1.17-8,10-9.83,10.38-9.91l.61-.11V46.29A17.25,17.25,0,0,1,37.37,40.93ZM62.5,71.59A18.09,18.09,0,0,1,54,76V55.12a21.13,21.13,0,0,1,6.34,2.17A9.21,9.21,0,0,1,65,64.13,8.74,8.74,0,0,1,62.5,71.59Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <h3 class="fan-sound__item--title">
                        98% Less Energy
                    </h3>
                    <p class="fan-sound__item--description">
                        An ultra-efficient brushless motor means you'll use up to 98% less energy than a typical box
                        fan.
                    </p>
                </div>
            </div>
        </div>
        <div class="fan-sound__video position-relative">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/McxAga2XECI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="fan-sound__video--play">
                <h2 class="title ">
                    <span>Not a Sleeping Spell</span>
                </h2>
                <button class="btn-secondary " data-play-button="">Play Video</button>
            </div>
        </div>
    </div>
</section>
<section class="shop-sound">
    <div class="head">
        <h3 class="head__title">
            Shop Our Sound Machines
        </h3>
        <div class="head__description">
            For all that goes bump in the night
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative mb-3">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-3 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative mb-3">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-3 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative mb-3">
                        <img src="assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-3 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-fan">
    <div class="container">
        <div class="head">
            <h3 class="head__title">
                Some of Our Fans
            </h3>
        </div>
        <div class="our-fan__content">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__avatar">
                        <span class="info-comment__avatar-initial">CP</span>
                    </div>
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-fan__content--item">
                <img src="assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__avatar">
                        <span class="info-comment__avatar-initial">CP</span>
                    </div>
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-fan__content--item">
                <img src="assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__avatar">
                        <span class="info-comment__avatar-initial">CP</span>
                    </div>
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-fan__content--item">
                <img src="assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__avatar">
                        <span class="info-comment__avatar-initial">CP</span>
                    </div>
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-fan__content--item">
                <img src="assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__avatar">
                        <span class="info-comment__avatar-initial">CP</span>
                    </div>
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-fan__nav d-flex align-items-center">
            <div class="our-fan__nav--left">
                <i class="fas fa-chevron-left"></i>
            </div>
            <button class="btn our-fan__nav--more">
                Show more reviews
            </button>
            <div class="our-fan__nav--right">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>
<section class="shot-like position-relative">
    <img src="assets/img/banner-bg.jpg" class="w-100" alt="">
    <div class="caption-content ">
        <h2 class="title">Ready to sleep like a rock?</h2>
        <a href="#" class="button">Shop SNOOZ</a>
    </div>
</section>