<section class="slider position-relative">
    <img src="assets/img/slider-banner.jpg" class="w-100" alt="">
    <div class="caption-content">
        <h2 class="caption-content__title">
            Turn your bedroom into a <br /> haven for
            sleep.
        </h2>
        <div class="caption-content__description">
            <p>Peaceful, non-looping white noise so you can&nbsp;fall asleep and stay asleep.</p>
        </div>
        <div class="caption-content__button m-auto">
            <a href="/products/snooz-white-noise-machine" class="button button--primary ">
                Shop SNOOZ
            </a>
        </div>
    </div>
</section>
<section class="feature">
    <div class="container">
        <div class="feature__title text-center">
            PROUDLY FEATURED IN
        </div>
        <div class="feature__branc">

        </div>
    </div>
</section>