<table style="max-width:650px;margin:0px auto;background-color:rgb(255,255,255);padding:30px" cellspacing="0"
    cellpadding="0" border="0">
    <tbody>
        <tr>
            <td valign="top" align="center">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding:20px 16px 12px" valign="bottom">
                                <div style="max-width:600px;margin:0 auto;text-align:center">
                                    <a href="#" target="_blank">
                                        <img style="max-height:100px"
                                            src="https://ci6.googleusercontent.com/proxy/OeAHJEJMFii3hrgOTjNxeSwKnq7Zbaf1hlw-hmXU_lhJ47m4XYY6GXIQxGvWRrMv06YvUvV7QS4O=s0-d-e1-ft#http://shop.bigelowtea.com/cm/logo.png">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <table>
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div>
                                    <p>Thank you for shopping at Bigelow Tea. This email confirms that we received your
                                        order. The details of your order are shown below. <br><br>Orders placed after
                                        12:00pm (EST) will be processed on the next business <br><br>
                                        Once your order is submitted, it is immediately sent to our production
                                        facilities so that we may offer you expedient service. <b> Therefore,
                                            cancellations or changes to orders cannot be accepted once you have placed
                                            your order. </b> <br>
                                        <br>When you are placing your orders, authorization is obtained from your bank.
                                        The authorization places a temporary hold on the funds. Please note, these funds
                                        have not been deducted but are being held within your account to ensure the
                                        order can be processed. This hold typically lasts from 3-7 days, depending on
                                        the policy of your bank. Your credit card will not be charged until your item(s)
                                        is shipped. If your order is sent out in multiple shipments or from multiple
                                        locations, separate authorization(s) and charge(s) for each shipment may appear
                                        on your account .<br><br>You will receive a second confirmation email when your
                                        order ships. <br> <br>Please allow <b><u>7 to 10 business days</u></b> (Mon-Fri)
                                        for orders with standard shipping to arrive to your destination. All expedited
                                        orders (UPS Next Day and UPS 2nd Day) will arrive within the scheduled time
                                        period the next business day. <br><br>
                                        <i>Please note that Bigelow Tea's shipping days are Monday through Friday.</i>
                                    </p>

                                    <p>Warmly,</p>
                                    <img style="max-height:80px;float:left"
                                        src="https://ci3.googleusercontent.com/proxy/q0v79Nghd7LoqELV3S7995q5wu2XLxSEpf6lhRJ5mgpCSzW6RUNcabP1_2DTarRsbBz6UfagxR50QCDrcpY=s0-d-e1-ft#http://shop.bigelowtea.com/cm/signature.png"
                                        class="CToWUd">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div>
                                    <h3>Order Summary</h3>
                                    <p>Order number: <span style="font-weight:bold">110797</span></p>
                                    <p>Order date: <span style="font-weight:bold">04/20/2021</span></p>
                                    <table cellspacing="0" cellpadding="5" border="0">
                                        <tbody>
                                            <tr>
                                                <th style="border-bottom:1px solid rgb(55,25,26)" width="70px"
                                                    align="left"><b>SKU</b></th>
                                                <th style="border-bottom:1px solid rgb(55,25,26)" width="440px"
                                                    align="left"><b>Items</b></th>
                                                <th style="border-bottom:1px solid rgb(55,25,26)" width="70px"
                                                    align="right"><b>Price</b></th>
                                                <th style="border-bottom:1px solid rgb(55,25,26)" width="70px"
                                                    align="center"><b>Quantity</b></th>
                                                <th style="border-bottom:1px solid rgb(55,25,26)" width="70px"
                                                    align="right"><b>Total</b></th>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;vertical-align:top" width="70px" align="right">
                                                    99596
                                                </td>
                                                <td style="padding:5px" width="440px">
                                                    Engraved Wooden Tea Chest with Flavored and Herb Tea - total of 64
                                                    teabags<br>
                                                </td>
                                                <td style="padding:5px" width="70px" align="right">
                                                    $61.90
                                                </td>
                                                <td style="padding:5px" width="70px" align="center">
                                                    1.0
                                                </td>
                                                <td style="padding:5px" width="70px" align="right">
                                                    $61.90
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="border-bottom:1px solid rgb(55,25,26)">
                                                    <span style="font-weight:bold">Totals</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Subtotal:
                                                </td>
                                                <td align="right">
                                                    $61.90
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Tax:
                                                </td>
                                                <td align="right">
                                                    $0.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Shipping:
                                                </td>
                                                <td align="right">
                                                    $12.95
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Other:
                                                </td>
                                                <td align="right">
                                                    $0.00
                                                </td>
                                            </tr>
                                            <tr style="font-weight:bold">
                                                <td colspan="4">
                                                    Total:
                                                </td>
                                                <td align="right">
                                                    $74.85
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    Credit Card:
                                                </td>
                                                <td align="right">
                                                    -$74.85
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="width:100%">
                                        <div style="width:50%;display:inline-block;float:left">
                                            <p>
                                                <span style="font-weight:bold">Shipping Address:</span>
                                                <br>Evan Mann
                                                <br>
                                                <br>1078 Nodding Pines Way
                                                <br>
                                                <br>
                                                Casselberry,
                                                FL
                                                32707
                                                US
                                            </p>
                                        </div>
                                        <div style="width:50%;display:inline-block;float:left">
                                            <p>
                                                <span style="font-weight:bold">Billing Address:</span>
                                                <br>Evan Mann
                                                <br>
                                                <br>1078 Nodding Pines Way
                                                <br>
                                                <br>
                                                Casselberry,
                                                FL
                                                32707
                                                US
                                            </p>
                                        </div>
                                    </div>

                                    <p>Shipping type: <span style="font-weight:bold">Standard</span></p>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<style>
    table {
        font-size: 14px;
        line-height: 20px;
        color: rgb(55, 25, 26);
    }
</style>