<div class="around d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
    <p class="title">
        Your order's being processed.
    </p>
</div>
<style>
    .around {
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    .around .title {
        margin-top: 24px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
    }

    .spinner {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%, #25b09b);
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
        animation: s3 1s infinite linear;
    }

    @keyframes s3 {
        to {
            transform: rotate(1turn)
        }
    }
</style>