<section class="shipping">
    <div class="container">
        <div class="page-main has-sidebar-option">
            <main class=" is-width-standard ">
                <div class="container page__container">
                    <div class="heading-wrapper--page">
                        <h1 class=" page__title title">
                            Returns Policy</h1>
                    </div>
                </div>
                <div class="page__content content container  table is-striped is-bordered ">
                    <div class="one-whole column">
                        <h3 style="text-align: left;"><strong>100 Night Happiness Guarantee</strong></h3>
                        <p>We want&nbsp;you to love your SNOOZ. Period.</p>
                        <p>If for any reason you are not completely satisfied with your purchase, please
                            email <a href="mailto:abc@gmail.com" target="_blank" title="cs@abc.com"
                                rel="noopener noreferrer">cs@abc.com</a> within 100 nights of
                            original purchase for instructions on how to return SNOOZ for a refund or
                            exchange. <span>Returns must be in new condition and original packaging.
                                You will be credited for the cost of the item(s) and any applicable tax minus shipping,
                                which will not be refunded. Return shipping fees are also the responsibility of the
                                purchaser.</span></p>
                        <p><span>Your refund will be processed once we have received&nbsp;the product in our
                                warehouse.</span></p>
                        <p>If your item(s) are broken or defective, please email us right away at&nbsp;<a
                                href="mailto:cs@abc.com" target="_blank" title="cs@abc.com"
                                rel="noopener noreferrer">cs@abc.com</a>&nbsp;so we can make it right!</p>
                        <h3 style="text-align: left;"></h3>
                        <h3><strong>Warranty</strong></h3>
                        <p>All SNOOZ units include a 1-year limited warranty. For warranty support, please email us at
                            <a href="mailto:warranty@abc.com" target="_blank" title="warranty@abc.com"
                                rel="noopener noreferrer">warranty@abc.com</a>.
                        </p>
                        <p>Warranty Details: SNOOZ INC. warranties its SNOOZ&nbsp;products to be free from defects in
                            materials and workmanship for 1 year from the original date of purchase, provided that the
                            product is used in a home environment. No payment will be issued. This limited warranty does
                            not cover failures due to abuse, accidental damage, or when repairs have been made or
                            attempted by anyone other than SNOOZ INC. No liability on this warranty shall be incurred in
                            the respect to damage or loss occurring during transit to or from the purchaser. This
                            warranty is personal to the original purchaser and is nontransferable. This warranty gives
                            you specific legal rights and you may also have other rights which vary from state to state.
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>