<section class="review">
    <div class="container">
        <div class="title">
            SNOOZ Reviews From Verified Customers
        </div>
        <div class="description">
            Every review on our website is written by a verified SNOOZ customer. The integrity of our reviews is
            important to us and we never alter or edit any review.
            <br>
            Reviews are subject to our <a href="#"> Reviews Policy.</a>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3 mt-3 mt-lg-0">
            <div class="d-flex align-items-center">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star me-2"></i>
                <span class="info-review">604 Reviews</span>
            </div>
        </div>

    </div>
    <div class="rating-detail mb-5">
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a winter months it's a winter months it's a winter months it's a winter
                        months it's a winter months it's a winter months it's a winter months it's a winter months it's
                        a winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a winter months it's a winter months it's a winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rating-detail__item col-5 col-md-4 col-lg-3 col-xlg-5">
            <div class="our-fan__content--item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../assets/img/image-item.jpg" class="w-100" alt="">
                <div class="info-comment">
                    <div class="info-comment__name">Chey-Anne P.</div>
                    <div data-time="1604173479553" class="info-comment__date time" data-upgraded="true">11/1/2020</div>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <p class="description">My husband and I have always slept with a fan on for the noise, but in the
                        winter months it's a
                        l...</p>
                    <div class="block">
                        <div class="metadata">
                            <div class="small text-muted">Item type:</div>
                            <div class="value">Cloud</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-center ">
        <div class="our-fan__nav d-flex align-items-center">
            <button class="btn our-fan__nav--more">
                Show more review
            </button>
        </div>
    </div>
</section>