<section class="shipping">
    <div class="container">
        <div class=" page-main has-sidebar-option">
            <main class="is-width-standard ">
                <div class="container page__container">
                    <div class="heading-wrapper--page ">
                        <h1 class=" page__title title">
                            Shipping Info</h1>
                    </div>
                </div>
                <div class="page__content content container  table is-striped is-bordered ">
                    <div class="one-whole column">
                        <p>We're thrilled to offer free shipping on all orders! If you need your SNOOZ in a hurry, we
                            also offer 1-Business-Day and 2-Business-Day shipping options for an additional fee
                            (contiguous United States only, please allow for up to one business day for order
                            processing).</p>
                        <br>
                        <h3><strong>Shipping Time Frames (Contiguous U.S.)</strong></h3>
                        <ul>
                            <li>Fast(ish): 5-7 Business Days</li>
                            <li>Faster: 2 Business Days (if ordered by 1:00pm ET)</li>
                            <li>Fastest: 1 Business Day (if ordered by 1:00pm ET)</li>
                        </ul>
                        <br>
                        <h3><strong class="w-100">Shipping Time Frames for Alaska, Hawaii, Guam, Puerto Rico,
                                American&nbsp;Samoa,
                                &amp; U.S. APO/FBO</strong></h3>
                        <ul>
                            <li>Standard: 7-10 Business Days (please allow up to 21 days for U.S. APO/FBO)</li>
                        </ul>
                        <p>&nbsp;</p>
                        <h4><strong>Do you ship internationally?</strong></h4>
                        <p>SNOOZ is currently available only in the U.S. Please to subscribe to our mailing list at the
                            bottom of this page for updates!</p>
                        <br>
                        <h4><strong>Will I receive tracking information?</strong></h4>
                        <p>We’ll send an email confirmation with tracking information when your order ships.</p>
                        <br>
                        <h4><strong>Where are you shipping from?</strong></h4>
                        <p>We are based in Las Vegas, NV, but our inventory is spread across fulfillment centers
                            nationwide in order to reduce transit times.</p>
                        <br>
                        <h4><strong>How will SNOOZ be shipped?</strong></h4>
                        <p>We use multiple carriers for fulfillment including (USPS, UPS, FedEx, and DHL).
                            Unfortunately, we’re not able to control the shipping carrier used in any one shipment.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>