<section class="banner-crumb">
    <img src="/assets/img/banner-bread.jpg" class="w-100" alt="">
    <div class="content">
        <h1 class="banner-crumb__heading ">Sound Machines</h1>
        <p class="banner-crumb__subheading ">
            If you're not totally happy with your new sound cocoon, we'll be happy to
            refund you within 100 nights of purchase!
        </p>
    </div>

</section>
<section class="list-product shop-sound">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative">
                        <img src="/assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-2 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative">
                        <img src="/assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-2 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-sound__item">
                    <div class="position-relative">
                        <img src="/assets/img/image-item.jpg" class="w-100" alt="">
                        <span class="sticker-text">New</span>
                    </div>
                    <a href="" class="shop-sound__item--title">
                        SNOOZ White Noise Sound Machine
                    </a>
                    <div class="hot-product__star pb-1">
                        <div class="letter">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <span>(604)</span>
                    </div>
                    <p class="mb-1">$79.99</p>
                    <div class="thumbnail-swatch">
                        <a href="#" class="swatch me-2 available">
                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/cloud_50x.png?v=1593326185"
                                alt="Cloud">
                        </a>
                        <a href="#" class="swatch">

                            <img class="swatch__image "
                                src="//cdn.shopify.com/s/files/1/1378/8621/files/charcoal_50x.png?v=1593326185"
                                alt="Charcoal">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>